{% extends "layout/main.html" %} {% block body %}
{% include 'partials/yourdashboard-header.html' %}

<main id="homepage_background" class="d-flex flex-column gap-4 flex-no-wrap">
    <div id="yourPostsContainer" class="d-flex flex-column gap-3">
        {% for post in posts %}
        <div class="d-flex justify-content-between individual-post" data-post-id="{{post.id}}">
            <h3>{{post.title|capitalize_string}}</h3>
            <h3>{{post.created_at|format_date}}</h3>
        </div>
        {% endfor %}
    </div>
    <button id="createPostButton">+ New Post</button>
</main>

<script src="/js/dashboardRedirect.js"></script>

{% endblock %}