{% extends "layout/main.html" %} {% block body %}
{% include 'partials/techblog-header.html' %}
<main
  id="homepage_background"
  class="d-flex flex-column gap-4 flex-no-wrap overflow-scroll"
>
  {% for post in posts %}
  <div class="post">
    <div class="d-flex justify-content-between align-items-end post_header">
      <a href="/thread/{{post.id}}"><h2 class="post_title" data-post-id="{{ post.id }}">{{ post.title|capitalize_string }}</h2></a>
      <h6 class="post_info">
        Posted by  on {{ post.created_at|format_date }}
      </h6>
    </div>
    <h3 class="post_description">{{post.description}}</h3>
  </div>
  {% endfor %}
</main>

{% endblock %}
