{% extends "layout/main.html" %} {% block body %}

<main
  id="homepage_background"
  class="d-flex flex-column gap-4 flex-no-wrap overflow-scroll"
>
  {% for post in posts %}
  <div class="post">
    <div class="d-flex justify-content-between align-items-end post_header">
      <h2 class="post_title" data-post-id="{{ post.id }}">{{ post.title }}</h2>
      <h6 class="post_info">
        Posted by  on {{ post.created_at }}
      </h6>
    </div>
    <h3 class="post_description">{{post.description}}</h3>
  </div>
  {% endfor %}
</main>

{% endblock %}
