{% extends "layout/main.html" %} {% block body %}
{% include 'partials/techblog-header.html' %}
<main id="homepage_background">
    <div class="post pb-3">
        <h2 class="post_header">Create New Post</h2>
        <form class="d-flex flex-column gap-3 login-signup_form">
            <div class="d-flex flex-column gap-1">
                <div class="d-flex flex-column">
                    <label for="#newPostTitle">Title</label>
                    <input type="text" id="newPostTitle">
                </div>
                <div class="d-flex flex-column">
                    <label for="#newPostContent">Content</label>
                    <textarea rows="3" id="newPostContent"></textarea>
                </div>
            </div>
            <input type="submit" id="submitPostButton" value="Create">
        </form>
    </div>
</main>

<script src="/js/createPost.js"></script>

{% endblock %}